# Magnus Game Analysis:
- Using Magnus Carlsen's Chess.com games dataset
- https://www.kaggle.com/datasets/dhrubangtalukdar/magnus-carlsen-chess-com-games
- ## Logistic Regression Algorithm:
- For Classification.

In [2]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score

In [3]:
game_df = pd.read_csv("magnus_carlsen_games.csv")

In [5]:
game_df.head()

,id,player_name,opponent_name,player_rating,opponent_rating,format,date,year,result,player_color,opponent_color,result_raw,moves
0,0,Magnus Carlsen,RainnWilson,2862,1200,Rapid,2014-12-14,2014,Win,white,black,1-0,1. e4 g6 2. Nf3 d6 3. d4 Bg7 4. Bc4 Bg4 5. Bxf...
1,1,Magnus Carlsen,solskytz,2862,1702,Rapid,2014-12-14,2014,Win,white,black,1-0,1. d4 Nf6 2. c4 e6 3. Nc3 Bb4 4. e3 c5 5. Ne2 ...
2,2,Magnus Carlsen,Tildenbeatsu,2862,1200,Rapid,2014-12-14,2014,Win,white,black,1-0,1. e4 e5 2. Nf3 Nc6 3. Bb5 Nf6 4. O-O Nxe4 5. ...
3,3,Magnus Carlsen,mtmnfy,2862,1200,Rapid,2014-12-14,2014,Win,white,black,1-0,1. d4 e6 2. e4 d5 3. Nd2 Nc6 4. Ngf3 Nf6 5. e5...
4,4,Magnus Carlsen,stepanosinovsky,2862,2360,Rapid,2014-12-14,2014,Loss,white,black,0-1,1. d4 Nf6 2. Bg5 c5 3. d5 Ne4 4. Bc1 e6 5. c4 ...

In [9]:
# Inspect the Dataset Structure & Basic Stats:
game_df.info()
game_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6699 entries, 0 to 6698
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               6699 non-null   int64
 1   player_name      6699 non-null   object
 2   opponent_name    6699 non-null   object
 3   player_rating    6699 non-null   int64
 4   opponent_rating  6699 non-null   int64
 5   format           6699 non-null   object
 6   date             6699 non-null   object
 7   year             6699 non-null   int64
 8   result           6699 non-null   object
 9   player_color     6699 non-null   object
 10  opponent_color   6699 non-null   object
 11  result_raw       6699 non-null   object
 12  moves            6695 non-null   object
dtypes: int64(4), object(9)
memory usage: 680.5+ KB

                id  player_rating  opponent_rating         year
count  6699.000000    6699.000000      6699.000000  6699.000000
mean   3349.000000    3223.602478      2962.436483  2023.460069
std    1933.979059     129.367877       258.192988     1.723239
min       0.000000    2619.000000       259.000000  2014.000000
25%    1674.500000    3212.000000      2907.500000  2023.000000
50%    3349.000000    3258.000000      3026.000000  2024.000000
75%    5023.500000    3299.000000      3095.000000  2025.000000
max    6698.000000    3401.000000      3429.000000  2026.000000

## Decide the Target Variable:

In [11]:
game_df["result_raw"].value_counts()

result_raw
1-0        4756
0-1        1326
0.5-0.5     617
Name: count, dtype: int64