# Machine Learning:
- __Deep Learning: Algorithms__
- ANN (Artificial Neuron Network) Algorithm.
- For Regression.

In [108]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from torch.utils.data import TensorDataset, DataLoader
import torch.optim as optim

## 1. Load Dataset:

In [109]:
df = pd.read_csv("powerplant_data.csv")

In [110]:
df.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

## Notes for the dataset:
- AT => Temperature Value in Power Plant.
- VT => Vacuum Value in Power Plant.
- AP => Pressure Value in Power Plant.
- RH => Humidity Value in Power Plant.
- __PE => Produce Engrgy / Output.__

In [111]:
df.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

## Dividing dataset into X & Y values:

In [112]:
X = df.drop("PE", axis = 1) # Features
y = df["PE"] # Labels

In [113]:
X.head()# Features

      AT      V       AP     RH
0   8.34  40.77  1010.84  90.01
1  23.64  58.49  1011.40  74.20
2  29.74  56.90  1007.15  41.91
3  19.07  49.69  1007.22  76.79
4  11.80  40.66  1017.13  97.20

In [114]:
y.head() # Labels

0    480.48
1    445.75
2    438.76
3    453.09
4    464.43
Name: PE, dtype: float64

## Split out data: train, test and split our data

In [115]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size = 0.2,
    random_state = 42
)

In [116]:
X_train

         AT      V       AP     RH
5487  25.24  63.47  1011.30  66.21
3522  26.09  70.40  1007.41  85.37
6916  26.63  73.68  1015.15  85.13
7544  32.06  71.85  1007.90  56.44
7600  28.70  71.64  1007.11  69.85
...     ...    ...      ...    ...
5734  26.25  61.02  1011.47  71.22
5191  29.17  64.79  1016.43  61.05
5390  18.00  43.70  1015.40  61.28
860   26.73  68.84  1010.75  66.83
7270   6.40  39.18  1024.60  86.83

[7654 rows x 4 columns]

In [117]:
X_test

         AT      V       AP     RH
2513  29.70  57.35  1005.63  57.35
9411  25.71  71.64  1008.85  77.31
8745  17.83  44.92  1025.04  70.58
9085   9.46  41.40  1026.78  87.58
4950  29.90  64.79  1016.90  48.24
...     ...    ...      ...    ...
7204  20.46  51.43  1010.06  83.79
1599  29.70  67.17  1007.31  66.56
5697  14.64  39.58  1011.46  71.90
350   29.47  71.32  1008.07  67.00
6210  17.70  50.88  1015.44  89.57

[1914 rows x 4 columns]

In [118]:
y_train

5487    442.75
3522    432.52
6916    428.80
7544    426.07
7600    436.58
         ...
5734    436.44
5191    441.20
5390    464.26
860     440.45
7270    484.44
Name: PE, Length: 7654, dtype: float64

In [119]:
y_test

2513    433.27
9411    438.16
8745    458.42
9085    480.82
4950    441.41
         ...
7204    456.70
1599    438.04
5697    467.80
350     437.14
6210    456.78
Name: PE, Length: 1914, dtype: float64

In [120]:
df.shape

(9568, 5)

## Applying Standard Scaler:

In [121]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [122]:
X_train_scaled

array([[ 0.74805289,  0.72006931, -0.32660017, -0.49711722],
       [ 0.86181948,  1.26515721, -0.98521113,  0.8181501 ],
       [ 0.93409473,  1.52314975,  0.32523844,  0.80167494],
       ...,
       [-0.22097078, -0.834965  ,  0.36756563, -0.83554456],
       [ 0.94747903,  1.14245344, -0.41971997, -0.45455637],
       [-1.77355014, -1.19049131,  1.92520594,  0.91837402]])

In [123]:
X_test_scaled

array([[ 1.34499288,  0.23869298, -1.28658067, -1.10532538],
       [ 0.81095912,  1.36269098, -0.74140656,  0.26485915],
       [-0.2437241 , -0.73900436,  1.99970178, -0.19713193],
       ...,
       [-0.67068342, -1.15902881, -0.29951077, -0.10651852],
       [ 1.31420898,  1.33752097, -0.87346737, -0.44288647],
       [-0.2611237 , -0.27021304,  0.37433797,  1.10646548]])

## Converting data into Tensors:

In [124]:
X_train_tensor = torch.tensor(X_train_scaled, dtype = torch.float32)
y_train_tensor = torch.tensor(y_train.values, dtype = torch.float32).view(-1, 1)

X_test_tensor = torch.tensor(X_test_scaled, dtype = torch.float32)
y_test_tensor = torch.tensor(y_test.values, dtype = torch.float32).view(-1, 1)

In [125]:
type(X_train_scaled)

numpy.ndarray

In [126]:
type(y_train)

pandas.core.series.Series

In [127]:
y_train.shape

(7654,)

In [128]:
y_train

5487    442.75
3522    432.52
6916    428.80
7544    426.07
7600    436.58
         ...
5734    436.44
5191    441.20
5390    464.26
860     440.45
7270    484.44
Name: PE, Length: 7654, dtype: float64

## 2. TensorDataset & DataLoader:

In [129]:
train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
test_dataset = TensorDataset(X_test_tensor, y_test_tensor)

## Creating DataLoader from the TensorDataset:

In [130]:
train_loader = DataLoader(train_dataset, batch_size = 32, shuffle = True)
test_loader = DataLoader(test_dataset, batch_size = 32)

## 3. Implementing an ANN Model: Deep Learning Algorithm
- ANN (Artificial Neuron Network) Algorithm.

In [131]:
class ANN(nn.Module):
    def __init__(self):
        super(ANN, self).__init__()

        self.model = nn.Sequential(
            # 1st hidden layer
            nn.Linear(X_train.shape[1], 6),
            nn.ReLU(),

            # 2nd hidden layer
            nn.Linear(6, 6),
            nn.ReLU(),

            # Output layer
            nn.Linear(6, 1)
        )

    # Forward Propagation
    def forward(self, x):   # <-- FIXED spelling
        return self.model(x)

## ANN Model: Object
- ANN (Artificial Neuron Network) Algorithm.

In [132]:
model = ANN()

# loss, optimiser
crietrion = nn.MSELoss()
optimiser = optim.Adam(model.parameters())

In [133]:
model

ANN(
  (model): Sequential(
    (0): Linear(in_features=4, out_features=6, bias=True)
    (1): ReLU()
    (2): Linear(in_features=6, out_features=6, bias=True)
    (3): ReLU()
    (4): Linear(in_features=6, out_features=1, bias=True)
  )
)

## 4. Traning our ANN Model:

In [134]:
# Train the ANN
train_losses = []
val_losses = []

best_val_loss = float("inf")

epochs = 100

for epoch in range(epochs):
    model.train()
    running_loss = 0.0 # tot training loss for 1 epoch
    
    for xb, yb in train_loader:
        # xb = features of 1 batch
        # yb = labels of 1 batch
        optimiser.zero_grad()
        
        outputs = model(xb) # forward prop....predicted outputs for this batch
        loss = crietian(outputs, yb) # compute loss
        loss.backward() # back prop.. compute gradients
        optimiser.step() # params update
        
        running_loss += loss.item() # loss is a tensor => py float

    epoch_train_loss = running_loss / len(train_loader)
    train_losses.append(epoch_train_loss)


    # Validation
    model.eval()
    running_val_loss = 0.0

    with torch.no_grad(): # no gradients compute
        for xb, yb in test_loader:
            outputs = model(xb)
            loss = crietrion(outputs, yb)
            running_val_loss += loss

    epoch_val_loss = running_val_loss / len(test_loader)
    val_losses.append(epoch_val_loss)

    print(f"epoch {epoch+1}/{epochs} ==> train loss = {epoch_train_loss} & val loss = {epoch_val_loss}")

    if epoch_val_loss < best_val_loss:
        best_val_loss = epoch_val_loss
        torch.save(model.state_dict(), "best_model.pt") #.pt or .pth

epoch 1/100 ==> train loss = 205337.0822265625 & val loss = 202266.015625
epoch 2/100 ==> train loss = 192668.84694010418 & val loss = 178035.90625
epoch 3/100 ==> train loss = 153415.67255859374 & val loss = 125030.5390625
epoch 4/100 ==> train loss = 93717.86399739583 & val loss = 64865.5234375
epoch 5/100 ==> train loss = 43739.54561360677 & val loss = 28540.9296875
epoch 6/100 ==> train loss = 21266.805025227866 & val loss = 16884.84765625
epoch 7/100 ==> train loss = 14812.88649190267 & val loss = 13146.0927734375
epoch 8/100 ==> train loss = 11946.152530924479 & val loss = 10531.23046875
epoch 9/100 ==> train loss = 9428.171073404948 & val loss = 8176.4736328125
epoch 10/100 ==> train loss = 7192.286036173503 & val loss = 6111.70458984375
epoch 11/100 ==> train loss = 5270.167830403646 & val loss = 4396.896484375
epoch 12/100 ==> train loss = 3728.574987792969 & val loss = 3052.711181640625
epoch 13/100 ==> train loss = 2539.17571665446 & val loss = 2046.150146484375
epoch 14/100 ==> train loss = 1676.6952346801759 & val loss = 1332.318603515625
epoch 15/100 ==> train loss = 1078.7634386698405 & val loss = 853.9541015625
epoch 16/100 ==> train loss = 682.8419482549032 & val loss = 549.436767578125
epoch 17/100 ==> train loss = 441.73935108184816 & val loss = 367.9714660644531
epoch 18/100 ==> train loss = 295.8519076506297 & val loss = 252.12017822265625
epoch 19/100 ==> train loss = 206.38209969202677 & val loss = 180.41688537597656
epoch 20/100 ==> train loss = 149.0682038784027 & val loss = 132.08993530273438
epoch 21/100 ==> train loss = 110.15378438631693 & val loss = 98.17899322509766
epoch 22/100 ==> train loss = 84.33505287170411 & val loss = 75.47787475585938
epoch 23/100 ==> train loss = 66.3039382537206 & val loss = 59.53171157836914
epoch 24/100 ==> train loss = 53.72884442011515 & val loss = 48.83347702026367
epoch 25/100 ==> train loss = 44.85365738868713 & val loss = 40.77004623413086
epoch 26/100 ==> train loss = 38.565925693511964 & val loss = 35.116451263427734
epoch 27/100 ==> train loss = 33.918095735708874 & val loss = 31.04823112487793
epoch 28/100 ==> train loss = 30.29982852935791 & val loss = 28.026430130004883
epoch 29/100 ==> train loss = 27.82077076435089 & val loss = 26.309329986572266
epoch 30/100 ==> train loss = 26.038662763436637 & val loss = 24.498157501220703
epoch 31/100 ==> train loss = 24.893108900388082 & val loss = 23.336214065551758
epoch 32/100 ==> train loss = 23.983550759156547 & val loss = 22.782703399658203
epoch 33/100 ==> train loss = 23.426601600646972 & val loss = 21.878679275512695
epoch 34/100 ==> train loss = 23.010169553756715 & val loss = 21.741838455200195
epoch 35/100 ==> train loss = 22.471147930622102 & val loss = 21.048816680908203
epoch 36/100 ==> train loss = 22.136744372049968 & val loss = 21.01140022277832
epoch 37/100 ==> train loss = 22.006281352043153 & val loss = 20.66193389892578
epoch 38/100 ==> train loss = 21.77870235045751 & val loss = 20.423192977905273
epoch 39/100 ==> train loss = 21.675417637825014 & val loss = 20.629581451416016
epoch 40/100 ==> train loss = 21.73650989929835 & val loss = 20.60306167602539
epoch 41/100 ==> train loss = 21.752558906873066 & val loss = 20.24677276611328
epoch 42/100 ==> train loss = 21.598431066672006 & val loss = 19.982940673828125
epoch 43/100 ==> train loss = 21.468596708774566 & val loss = 21.149658203125
epoch 44/100 ==> train loss = 21.529670858383177 & val loss = 20.19677734375
epoch 45/100 ==> train loss = 21.56855086485545 & val loss = 19.889108657836914
epoch 46/100 ==> train loss = 21.53667310078939 & val loss = 19.83620834350586
epoch 47/100 ==> train loss = 21.37019499937693 & val loss = 20.109106063842773
epoch 48/100 ==> train loss = 21.411353834470113 & val loss = 19.86109161376953
epoch 49/100 ==> train loss = 21.243614629904428 & val loss = 19.588092803955078
epoch 50/100 ==> train loss = 21.33398308753967 & val loss = 20.074552536010742
epoch 51/100 ==> train loss = 21.231883907318114 & val loss = 20.310544967651367
epoch 52/100 ==> train loss = 21.32074862718582 & val loss = 19.454158782958984
epoch 53/100 ==> train loss = 21.261648281415304 & val loss = 19.748918533325195
epoch 54/100 ==> train loss = 21.228836460908255 & val loss = 19.47486686706543
epoch 55/100 ==> train loss = 21.325373987356823 & val loss = 19.91498565673828
epoch 56/100 ==> train loss = 21.262130677700043 & val loss = 20.077627182006836
epoch 57/100 ==> train loss = 21.16723721822103 & val loss = 20.328649520874023
epoch 58/100 ==> train loss = 20.988052268822987 & val loss = 19.413480758666992
epoch 59/100 ==> train loss = 21.103911360104878 & val loss = 19.218706130981445
epoch 60/100 ==> train loss = 21.122543863455455 & val loss = 20.3037109375
epoch 61/100 ==> train loss = 21.10859914223353 & val loss = 19.548473358154297
epoch 62/100 ==> train loss = 21.039964342117308 & val loss = 19.51935386657715
epoch 63/100 ==> train loss = 20.985204374790193 & val loss = 20.085050582885742
epoch 64/100 ==> train loss = 21.121678098042807 & val loss = 19.748849868774414
epoch 65/100 ==> train loss = 20.966333643595377 & val loss = 19.48507308959961
epoch 66/100 ==> train loss = 21.065263215700785 & val loss = 19.284717559814453
epoch 67/100 ==> train loss = 21.011125242710115 & val loss = 19.403034210205078
epoch 68/100 ==> train loss = 21.083026266098024 & val loss = 19.576391220092773
epoch 69/100 ==> train loss = 20.947888358434042 & val loss = 19.622156143188477
epoch 70/100 ==> train loss = 20.992584919929506 & val loss = 19.790374755859375
epoch 71/100 ==> train loss = 20.92561594247818 & val loss = 19.73294448852539
epoch 72/100 ==> train loss = 21.084593812624615 & val loss = 19.15406036376953
epoch 73/100 ==> train loss = 20.915731326738992 & val loss = 19.433828353881836
epoch 74/100 ==> train loss = 20.96227024793625 & val loss = 19.440521240234375
epoch 75/100 ==> train loss = 20.918647070725758 & val loss = 18.94452476501465
epoch 76/100 ==> train loss = 20.81037021478017 & val loss = 19.20195198059082
epoch 77/100 ==> train loss = 20.835859648386638 & val loss = 19.381122589111328
epoch 78/100 ==> train loss = 20.8283695658048 & val loss = 19.230592727661133
epoch 79/100 ==> train loss = 21.05348225434621 & val loss = 19.558815002441406
epoch 80/100 ==> train loss = 20.759397166967393 & val loss = 19.268230438232422
epoch 81/100 ==> train loss = 20.909709282716115 & val loss = 18.981121063232422
epoch 82/100 ==> train loss = 20.82344015041987 & val loss = 19.03935432434082
epoch 83/100 ==> train loss = 20.796774009863537 & val loss = 19.85321044921875
epoch 84/100 ==> train loss = 20.8634983420372 & val loss = 19.139118194580078
epoch 85/100 ==> train loss = 20.745912007490794 & val loss = 19.3476505279541
epoch 86/100 ==> train loss = 20.85141851902008 & val loss = 18.939889907836914
epoch 87/100 ==> train loss = 20.77090183099111 & val loss = 19.570934295654297
epoch 88/100 ==> train loss = 20.943692330519358 & val loss = 19.03487777709961
epoch 89/100 ==> train loss = 20.851475262641905 & val loss = 19.564531326293945
epoch 90/100 ==> train loss = 20.810964091618857 & val loss = 18.83135223388672
epoch 91/100 ==> train loss = 20.709635416666668 & val loss = 19.554954528808594
epoch 92/100 ==> train loss = 20.741857786973316 & val loss = 19.09389877319336
epoch 93/100 ==> train loss = 20.71393674214681 & val loss = 19.336122512817383
epoch 94/100 ==> train loss = 20.865127249558768 & val loss = 19.43758773803711
epoch 95/100 ==> train loss = 20.819520473480225 & val loss = 19.10381507873535
epoch 96/100 ==> train loss = 20.636389219760893 & val loss = 19.19452476501465
epoch 97/100 ==> train loss = 20.79127354621887 & val loss = 19.577234268188477
epoch 98/100 ==> train loss = 20.713822376728057 & val loss = 18.923805236816406
epoch 99/100 ==> train loss = 20.66717995405197 & val loss = 18.967681884765625
epoch 100/100 ==> train loss = 20.79392099380493 & val loss = 18.966341018676758