# Machine Learning:
- __Deep Learning: Algorithms__
- ANN (Artificial Neuron Network) Algorithm.
- For Regression.

In [22]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Load Dataset:

In [23]:
df = pd.read_csv("powerplant_data.csv")

In [24]:
df.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

## Notes for the dataset:
- AT => Temperature Value in Power Plant.
- VT => Vacuum Value in Power Plant.
- AP => Pressure Value in Power Plant.
- RH => Humidity Value in Power Plant.
- __PE => Produce Engrgy / Output.__

In [25]:
df.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

## Dividing dataset into X & Y values:

In [26]:
X = df.drop("PE", axis = 1) # Features
y = df["PE"] # Labels

In [27]:
X.head()# Features

      AT      V       AP     RH
0   8.34  40.77  1010.84  90.01
1  23.64  58.49  1011.40  74.20
2  29.74  56.90  1007.15  41.91
3  19.07  49.69  1007.22  76.79
4  11.80  40.66  1017.13  97.20

In [28]:
y.head() # Labels

0    480.48
1    445.75
2    438.76
3    453.09
4    464.43
Name: PE, dtype: float64

## Split out data: train, test and split our data

In [29]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size = 0.2,
    random_state = 42
)

In [30]:
X_train

         AT      V       AP     RH
5487  25.24  63.47  1011.30  66.21
3522  26.09  70.40  1007.41  85.37
6916  26.63  73.68  1015.15  85.13
7544  32.06  71.85  1007.90  56.44
7600  28.70  71.64  1007.11  69.85
...     ...    ...      ...    ...
5734  26.25  61.02  1011.47  71.22
5191  29.17  64.79  1016.43  61.05
5390  18.00  43.70  1015.40  61.28
860   26.73  68.84  1010.75  66.83
7270   6.40  39.18  1024.60  86.83

[7654 rows x 4 columns]

In [31]:
X_test

         AT      V       AP     RH
2513  29.70  57.35  1005.63  57.35
9411  25.71  71.64  1008.85  77.31
8745  17.83  44.92  1025.04  70.58
9085   9.46  41.40  1026.78  87.58
4950  29.90  64.79  1016.90  48.24
...     ...    ...      ...    ...
7204  20.46  51.43  1010.06  83.79
1599  29.70  67.17  1007.31  66.56
5697  14.64  39.58  1011.46  71.90
350   29.47  71.32  1008.07  67.00
6210  17.70  50.88  1015.44  89.57

[1914 rows x 4 columns]

In [32]:
y_train

5487    442.75
3522    432.52
6916    428.80
7544    426.07
7600    436.58
         ...
5734    436.44
5191    441.20
5390    464.26
860     440.45
7270    484.44
Name: PE, Length: 7654, dtype: float64

In [33]:
y_test

2513    433.27
9411    438.16
8745    458.42
9085    480.82
4950    441.41
         ...
7204    456.70
1599    438.04
5697    467.80
350     437.14
6210    456.78
Name: PE, Length: 1914, dtype: float64

In [34]:
df.shape

(9568, 5)

## Applying Standard Scaler:

In [35]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [36]:
X_train_scaled

array([[ 0.74805289,  0.72006931, -0.32660017, -0.49711722],
       [ 0.86181948,  1.26515721, -0.98521113,  0.8181501 ],
       [ 0.93409473,  1.52314975,  0.32523844,  0.80167494],
       ...,
       [-0.22097078, -0.834965  ,  0.36756563, -0.83554456],
       [ 0.94747903,  1.14245344, -0.41971997, -0.45455637],
       [-1.77355014, -1.19049131,  1.92520594,  0.91837402]])

In [37]:
X_test_scaled

array([[ 1.34499288,  0.23869298, -1.28658067, -1.10532538],
       [ 0.81095912,  1.36269098, -0.74140656,  0.26485915],
       [-0.2437241 , -0.73900436,  1.99970178, -0.19713193],
       ...,
       [-0.67068342, -1.15902881, -0.29951077, -0.10651852],
       [ 1.31420898,  1.33752097, -0.87346737, -0.44288647],
       [-0.2611237 , -0.27021304,  0.37433797,  1.10646548]])

## Converting data into Tensors:

In [38]:
X_train_tensor = torch.tensor(X_train_scaled, dtype = torch.float32)
y_train_tensor = torch.tensor(y_train.values, dtype = torch.float32).view(-1, 1)

X_test_tensor = torch.tensor(X_test_scaled, dtype = torch.float32)
y_test_tensor = torch.tensor(y_test.values, dtype = torch.float32).view(-1, 1)

In [39]:
type(X_train_scaled)

numpy.ndarray

In [40]:
type(y_train)

pandas.core.series.Series

In [41]:
y_train.shape

(7654,)

In [42]:
y_train

5487    442.75
3522    432.52
6916    428.80
7544    426.07
7600    436.58
         ...
5734    436.44
5191    441.20
5390    464.26
860     440.45
7270    484.44
Name: PE, Length: 7654, dtype: float64