# Machine Learning:
- __Deep Learning: Algorithms__
- ANN (Artificial Neuron Network) Algorithm.
- For Regression.

In [8]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn

## Load Dataset:

In [9]:
df = pd.read_csv("powerplant_data.csv")

In [10]:
df.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

## Notes for the dataset:
- AT => Temperature Value in Power Plant.
- VT => Vacuum Value in Power Plant.
- AP => Pressure Value in Power Plant.
- RH => Humidity Value in Power Plant.
- __PE => Produce Engrgy / Output.__

In [11]:
df.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

## Dividing dataset into X & Y values:

In [12]:
X = df.drop("PE", axis = 1) # Features
y = df["PE"] # Labels

In [13]:
X.head()# Features

      AT      V       AP     RH
0   8.34  40.77  1010.84  90.01
1  23.64  58.49  1011.40  74.20
2  29.74  56.90  1007.15  41.91
3  19.07  49.69  1007.22  76.79
4  11.80  40.66  1017.13  97.20

In [14]:
y.head() # Labels

0    480.48
1    445.75
2    438.76
3    453.09
4    464.43
Name: PE, dtype: float64