# Pandas:

In [2]:
# Pandas:

import pandas as pd

In [3]:
info  = {
    "Name" : ["Satinder Singh Sall", "Soni Vaibhav Kumar", "K Santosh Reddy"],
    "CGPA" : [6.9, 7.9, 7.5]
}

df =  pd.DataFrame(info)

print(df)

                  Name  CGPA
0  Satinder Singh Sall   6.9
1   Soni Vaibhav Kumar   7.9
2      K Santosh Reddy   7.5

In [4]:
df

                  Name  CGPA
0  Satinder Singh Sall   6.9
1   Soni Vaibhav Kumar   7.9
2      K Santosh Reddy   7.5

# Series in Pandas:

In [19]:
# Series in Pandas:

s = pd.Series([1, 2, 3, 4, 5])

print(s)
print(type(s))

# index
print(s[0])
print(s[3])
print(s.index)

print("\n")

# label:
s2 = pd.Series([22, 23, 24, 25, 26], index = ["Adam", "Eve", "Bob", "Charlie", "Nick"])
print(s2)
print(s2["Nick"])
print(s2["Charlie"])
print(s2.index)

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
4
RangeIndex(start=0, stop=5, step=1)


Adam       22
Eve        23
Bob        24
Charlie    25
Nick       26
dtype: int64
26
25
Index(['Adam', 'Eve', 'Bob', 'Charlie', 'Nick'], dtype='object')

# Series Properties:
- Homogeneous in Nature
- Vectorised Operations
- Handle Missing Values with NaN
- Mutable Values but Immutable Sizes

In [21]:
# Series Properties:

s = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([10, 20, 30, 40, 50])

print(s + s2)

0    11
1    22
2    33
3    44
4    55
dtype: int64