# Pandas:

In [2]:
# Pandas:

import pandas as pd

In [3]:
info  = {
    "Name" : ["Satinder Singh Sall", "Soni Vaibhav Kumar", "K Santosh Reddy"],
    "CGPA" : [6.9, 7.9, 7.5]
}

df =  pd.DataFrame(info)

print(df)

                  Name  CGPA
0  Satinder Singh Sall   6.9
1   Soni Vaibhav Kumar   7.9
2      K Santosh Reddy   7.5

In [4]:
df

                  Name  CGPA
0  Satinder Singh Sall   6.9
1   Soni Vaibhav Kumar   7.9
2      K Santosh Reddy   7.5

# Series in Pandas:

In [19]:
# Series in Pandas:

s = pd.Series([1, 2, 3, 4, 5])

print(s)
print(type(s))

# index
print(s[0])
print(s[3])
print(s.index)

print("\n")

# label:
s2 = pd.Series([22, 23, 24, 25, 26], index = ["Adam", "Eve", "Bob", "Charlie", "Nick"])
print(s2)
print(s2["Nick"])
print(s2["Charlie"])
print(s2.index)

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
4
RangeIndex(start=0, stop=5, step=1)


Adam       22
Eve        23
Bob        24
Charlie    25
Nick       26
dtype: int64
26
25
Index(['Adam', 'Eve', 'Bob', 'Charlie', 'Nick'], dtype='object')

# Series Properties:
- Homogeneous in Nature
- Vectorised Operations
- Handle Missing Values with NaN
- Mutable Values but Immutable Sizes

In [22]:
# Series Properties:

s = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([10, 20, 30, 40, 50])

print(s + s2)

0    11
1    22
2    33
3    44
4    55
dtype: int64

# Data Frame in Pandas:

In [27]:
# Data Frame in Pandas:

info = {
    "Name" : ["Satinder", "Vaibhav", "Santosh"],
    "Age" : [22, 19, 22],
    "CGPA" : [6.9, 7.9, 8]
}

data_frame = pd.DataFrame(info)

print(data_frame, type(data_frame))

       Name  Age  CGPA
0  Satinder   22   6.9
1   Vaibhav   19   7.9
2   Santosh   22   8.0 <class 'pandas.core.frame.DataFrame'>

In [28]:
data_frame

       Name  Age  CGPA
0  Satinder   22   6.9
1   Vaibhav   19   7.9
2   Santosh   22   8.0

In [30]:
print(data_frame.index)
print(data_frame.columns)

RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'CGPA'], dtype='object')

In [32]:
data = [
    {"Name": "Satinder", "Age": 22, "CGPA": 6.9},
    {"Name": "Vaibhav", "Age": 19, "CGPA": 7.9},
    {"Name": "Santosh", "Age": 22, "CGPA": 8.0}
]

df = pd.DataFrame(data)
print(df)

       Name  Age  CGPA
0  Satinder   22   6.9
1   Vaibhav   19   7.9
2   Santosh   22   8.0

In [33]:
data = [
    ["Satinder", 22, 6.9],
    ["Vaibhav", 19, 7.9],
    ["Santosh", 22, 8.0]
]

df = pd.DataFrame(data, columns=["Name", "Age", "CGPA"])
print(df)

       Name  Age  CGPA
0  Satinder   22   6.9
1   Vaibhav   19   7.9
2   Santosh   22   8.0

In [35]:
data = (
    ["Satinder", "Vaibhav", "Santosh"],
    [22, 19, 22],
    [6.9, 7.9, 8]
)

df = pd.DataFrame({
    "Name": data[0],
    "Age": data[1],
    "CGPA": data[2]
})

print(df)

       Name  Age  CGPA
0  Satinder   22   6.9
1   Vaibhav   19   7.9
2   Santosh   22   8.0

In [37]:
import numpy as np
import pandas as pd

arr = np.array([[1, 2, 3], [4, 5, 6]])

df = pd.DataFrame(arr, columns=["A", "B", "C"])

print(df)

   A  B  C
0  1  2  3
1  4  5  6